#root {
  background: #c0c0c0;
}

.app-wrapper {
  box-shadow:
    rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
  border-radius: 10px;
  border: 0.8rem solid;
  // border-style: ridge;
  border-color:
    rgb(213, 220, 226)
    rgb(213, 220, 226)
    rgb(184, 194, 204);
}

.visualiser {
  background-color: #231d1f;
  box-shadow:
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
  border-radius: 10px;
  border: 0.3rem solid;
  border-color:
    rgb(213, 220, 226)
    rgb(213, 220, 226)
    rgb(184, 194, 204);
}

// 3D perspective insperation: https://polypane.app/css-3d-transform-examples/
.control-deck {
  // transform-origin: top center;
  // transform:
  //   perspective(180em)
  //   rotateX(18deg)
  //   scaleY(0.95)
  //   scaleX(0.95);
  // box-shadow:
  //   rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
  //   rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
  // border-radius: 10px;
  // border: 1rem solid;
  // // border-style: ridge;
  // border-color:
  //   rgb(213, 220, 226)
  //   rgb(213, 220, 226)
  //   rgb(184, 194, 204);
  // background-color: #141414;
}

.control-deck-inner {
  box-shadow:
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
  border-radius: 10px;
  border: 0.3rem solid;
  border-color:
    rgb(213, 220, 226)
    rgb(213, 220, 226)
    rgb(184, 194, 204);
}

.strudel-container {
  // transform-origin: top center;
  // transform:
  //   rotateX(-18deg)
  //   scaleX(0.93);
  position: relative;      
  overflow: hidden;
  // box-shadow:
  //   rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
  //   rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
  // border-radius: 10px;
  // border: 0.5rem solid;
  // border-color:
  //   rgb(213, 220, 226)
  //   rgb(213, 220, 226)
  //   rgb(184, 194, 204);
}

.strudel-container{
  .cm-editor {
    // height: 45vh;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: auto;
  }
}

/* Hush buttons adapted from Madflows CSS found here: https://uiverse.io/Madflows/terrible-catfish-72 */
.hush-button {
  width: 5.5rem;
  max-width: 5.5rem;
  height: 5.5rem;
  max-height: 5.5rem;
  aspect-ratio: 1 / 1;
  outline: none;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1); 
}

// .toggle-group {
//   display: flex;
//   gap: 0.5rem;
//   .btn-group {
//     flex: 1 1 0;
//     text-align: center;
    // aspect-ratio: 1 / 1;
  // width: 100%;
  // height: 100%;
  // aspect-ratio: 1 / 1;
// }
// }

/* Button text CSS */
.hush-button span {
  display: block;
  max-height: 100%;
  color: #382b22;
  text-transform: uppercase;
  font-weight: 600;
  overflow: hidden;
  overflow-wrap: break-word;
}

.hush-button:not(.active) span {
    color: white
}

.hush-button::before {
 position: absolute;
 content: '';
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: #f9c4d2;
 border-radius: inherit;
 -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
 box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
 -webkit-transform: translate3d(0, 0.75em, -1em);
 transform: translate3d(0, 0.75em, -1em);
 transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.hush-button:hover {
 background: #ffe9e9;
 -webkit-transform: translate(0, 0.25em);
 transform: translate(0, 0.25em);
}

.hush-button:hover::before {
 -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
 box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
 -webkit-transform: translate3d(0, 0.5em, -1em);
 transform: translate3d(0, 0.5em, -1em);
}

.hush-button:active {
 background: #ffe9e9;
 -webkit-transform: translate(0em, 0.75em);
 transform: translate(0em, 0.75em);
}

.hush-button:active::before {
 -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
 box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
 -webkit-transform: translate3d(0, 0, -1em);
 transform: translate3d(0, 0, -1em);
}

// Glow effect adpated from Poonam Soni's code: https://codepen.io/poonam-adlakha/pen/QWajGqL
.toggle-group-button.active,
.hush-button:not(.active):not(.toggle-group-button) {
    color: white;
    background: #FF5161;
    box-shadow: 0 0 4px #D30302, 0 0 30px #D30302, 
    0 0 30px #D30302, 0 0 100px #D30302;
    border: none;
}

.glow-small.active {
    background: #FF5161;
    // box-shadow: 0 0 4px #DF6165, 0 0 30px #DF6165, 
    // 0 0 30px #DF6165, 0 0 100px #DF6165;
    box-shadow:0 0 15px #D30302, 0 0 15px #D30302;
    border: none;
}

/* Unround border on toggle group buttons based on position */
.btn-group > .hush-button:first-child {
  border-radius: 0.75em 0 0 0.75em;
}

.btn-group > .hush-button:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.btn-group > :last-child.hush-button {
  border-radius: 0 0.75em 0.75em 0;
}

// Set width of text inputs.
.controls-container {
   input {
    width: 100px;
    margin: 0 0.5rem 0.3rem 0.5rem;
   }
}

.range {
    accent-color: #dc3545;
    max-height: 180px;
}

.range-vertical {
  writing-mode: vertical-lr;
  direction: rtl;
  appearance: slider-vertical;
  vertical-align: bottom;
// transform: rotate(-90deg);
// transform-origin: center;
}

//  Can't get this to play nice container - will try fix later.
// Range style generated via: https://www.cssportal.com/style-input-range/
// input[type=range].range {
//     -webkit-appearance: none;
// }

// input[type=range].range:focus {
//   outline: none;
// }

// input[type=range].range::-webkit-slider-runnable-track {
//   width: 100%;
//   height: 10px;
//   cursor: pointer;
//   animate: 0.2s;
//   box-shadow: 0px 0px 0px #000000;
//   background: #B6B6B6;
//   border-radius: 0px;
//   border: 1px solid #8A8A8A;
// }

// input[type=range].range::-webkit-slider-thumb {
//   box-shadow: 1px 1px 1px #828282;
//   border: 1px solid #8A8A8A;
//   height: 35px;
//   width: 50px;
//   border-radius: 10px;
//   background: #DADADA;
//   cursor: pointer;
//   -webkit-appearance: none;
//   margin-top: -13.5px;
// }

// input[type=range].range:focus::-webkit-slider-runnable-track {
//   background: #B6B6B6;
// }

// input[type=range].range::-moz-range-track {
//   width: 100%;
//   height: 10px;
//   cursor: pointer;
//   animate: 0.2s;
//   box-shadow: 0px 0px 0px #000000;
//   background: #B6B6B6;
//   border-radius: 0px;
//   border: 1px solid #8A8A8A;
// }

// input[type=range].range::-moz-range-thumb {
//   box-shadow: 1px 1px 1px #828282;
//   border: 1px solid #8A8A8A;
//   height: 35px;
//   width: 50px;
//   border-radius: 10px;
//   background: #DADADA;
//   cursor: pointer;
// }

// input[type=range].range::-ms-track {
//   width: 100%;
//   height: 10px;
//   cursor: pointer;
//   animate: 0.2s;
//   background: transparent;
//   border-color: transparent;
//   color: transparent;
// }

// input[type=range].range::-ms-fill-lower {
//   background: #B6B6B6;
//   border: 1px solid #8A8A8A;
//   border-radius: 0px;
//   box-shadow: 0px 0px 0px #000000;
// }

// input[type=range].range::-ms-fill-upper {
//   background: #B6B6B6;
//   border: 1px solid #8A8A8A;
//   border-radius: 0px;
//   box-shadow: 0px 0px 0px #000000;
// }

// input[type=range].range::-ms-thumb {
//   margin-top: 1px;
//   box-shadow: 1px 1px 1px #828282;
//   border: 1px solid #8A8A8A;
//   height: 35px;
//   width: 50px;
//   border-radius: 10px;
//   background: #DADADA;
//   cursor: pointer;
// }

// input[type=range].range:focus::-ms-fill-lower {
//   background: #B6B6B6;
// }

// input[type=range].range:focus::-ms-fill-upper {
//   background: #B6B6B6;
// }

// CRT look credit goes to Alec Lownes: https://aleclownes.com/2017/02/01/crt-display.html
@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before,
.strudel-container::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt-container {
  position: relative;
  // width: 600px;          
  // height: 400px;          
  overflow: hidden;       
}
.crt {
  position: relative;     
  width: 100%;
  height: 100%;
  animation: textShadow 1.6s infinite;
}

.neon-line {
  stroke: #fefefe;
  stroke-width: 2;
  filter: drop-shadow(0 0 5px #ffffff)
          drop-shadow(0 0 10px #ffffff)
          drop-shadow(0 0 20px #ffffff);
}

*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #000000;
}

*::-webkit-scrollbar-track:hover {
  background-color: #777777;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #BC230C;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #c14523;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #c14523;
}





